---
import { resources } from "../data/resource-items";
import Layout from "../pages/layout.astro";
---

<Layout title="Frontdev Resources">
  <nav id="navbar" class="relative w-full h-screen">
    <ul
      class="grid grid-cols-3 p-40 place-content-center gap-10 w-full h-full relative"
    >
      {
        resources.map(({ id, name }) => {
          return (
            <li>
              <a
                class="relative w-auto h-auto flex flex-col items-center justify-center py-4 px-6 transition-opacity opacity-70 hover:opacity-100"
                href={`/${id}`}
                aria-label={`Go to ${id}`}
                title={`Ir a ${name}`}
              >
                <svg class="w-full fill-neutral-50">
                  <use xlink:href={`sprites.svg#${id}`} />
                </svg>
                <p class="font-marck text-4xl text-neutral-50 mt-5">{name}</p>
              </a>
            </li>
          );
        })
      }
    </ul>
  </nav>
  <div
    id="menu-backdrop"
    class="opacity-0 rounded-lg -z-10 absolute bg-black/25 left-[var(--left)] top-[var(--top)] w-[var(--width)] h-[var(--height)] transition-all duration-300 ease-in-out"
  >
  </div>
</Layout>

<script>
  const $listItem = document.querySelectorAll("#navbar li");
  const $menuBackDrop = document.querySelector(
    "#menu-backdrop"
  ) as HTMLDivElement;

  $listItem.forEach((item) => {
    item.addEventListener("mouseenter", () => {
      const { left, top, width, height } = item.getBoundingClientRect();
      $menuBackDrop.style.setProperty("--left", `${left}px`);
      $menuBackDrop.style.setProperty("--top", `${top}px`);
      $menuBackDrop.style.setProperty("--width", `${width}px`);
      $menuBackDrop.style.setProperty("--height", `${height}px`);
      $menuBackDrop.style.opacity = "1";
      $menuBackDrop.style.visibility = "visible";
    });

    item.addEventListener("mouseleave", () => {
      $menuBackDrop.style.opacity = "0";
      $menuBackDrop.style.visibility = "hidden";
    });
  });
</script>
