---
import { resources } from "../data/resource-items";
import Layout from "../pages/layout.astro";
---

<Layout title="Frontdev Resources">
  <section id="main">
    <header class="relative w-full md:h-screen">
      <div class="md:w-[75vw] h-auto md:h-full place-content-center">
        <div
          class="relative grid w-full md:w-auto md:h-full grid-cols-3 grid-rows-3 gap-4 md:gap-10 p-4 md:p-10 mx-auto place-content-center aspect-square"
        >
          {
            resources.map(({ id, name }) => {
              return (
                <article class="h-fit aspect-square">
                  <a
                    class="flex flex-col items-center justify-center p-3 md:p-6 transition-opacity opacity-70 hover:opacity-100"
                    href={`/${id}`}
                    aria-label={`Go to ${id}`}
                    title={`Ir a ${name}`}
                    style={`view-transition-name: svg-${id}`}
                  >
                    <svg class="w-10 h-10 md:h-auto md:w-20 fill-neutral-50">
                      <use xlink:href={`sprites.svg#${id}`} />
                    </svg>
                    <p
                      style={`view-transition-name: title-${id}`}
                      class="text-2xl 2xl:text-4xl font-marck text-neutral-50"
                    >
                      {name}
                    </p>
                  </a>
                </article>
              );
            })
          }
        </div>
      </div>
    </header>
    <div
      id="menu-backdrop"
      class="opacity-0 rounded-lg -z-10 absolute bg-black/25 left-[var(--left)] top-[var(--top)] w-[var(--width)] h-[var(--height)] transition-all duration-300 ease-in-out"
    >
    </div>
  </section>
</Layout>

<script>
  const $listItem = document.querySelectorAll("#main article");
  const $menuBackDrop = document.querySelector(
    "#menu-backdrop"
  ) as HTMLSpanElement;

  $listItem.forEach((item) => {
    item.addEventListener("mouseenter", () => {
      const { left, top, width, height } = item.getBoundingClientRect();
      $menuBackDrop.style.setProperty("--left", `${left}px`);
      $menuBackDrop.style.setProperty("--top", `${top}px`);
      $menuBackDrop.style.setProperty("--width", `${width}px`);
      $menuBackDrop.style.setProperty("--height", `${height}px`);
      $menuBackDrop.style.opacity = "1";
      $menuBackDrop.style.visibility = "visible";
    });

    item.addEventListener("mouseleave", () => {
      $menuBackDrop.style.opacity = "0";
      $menuBackDrop.style.visibility = "hidden";
    });
  });
</script>
