---
import data from "../../data.json" assert { type: "JSON" };

const {
  libraries: { animation, effects },
} = data;
---

<section
  id="libraries"
  class="flex flex-col h-screen container mx-auto pt-52 pb-10 text-neutral-50 relative"
>
  <header>
    <h2 class="font-marck text-5xl my-10">Librerías</h2>
  </header>
  <div class="flex h-full relative gap-x-10">
    <article
      class="w-1/2 flex flex-col border border-white/20 rounded-2xl p-4 transition-colors hover:bg-white/5 duration-300"
    >
      <h3 class="font-marck text-4xl text-center">Animaciones</h3>
      <div
        class="scroll relative w-full flex flex-grow items-center gap-x-6 snap-x overflow-x-auto py-8"
      >
        {
          animation.map((item) => {
            return (
              <div class="shrink-0 snap-center [&:hover>h4]:text-indigo-500 transition-transform hover:scale-105 flex flex-col p-3 w-80 h-full border border-white/20 rounded-md">
                <h4 class="font-marck text-center text-2xl transition-colors duration-300">{item.name}</h4>
                <p class="text-neutral-300 flex-grow my-12">
                  {item.description}
                </p>
                <a
                  href={item.link}
                  target="_blank"
                  class="rounded-md border border-white/20 px-10 py-3 font-medium text-xl mx-auto transition-colors duration-300 hover:bg-neutral-50 hover:text-neutral-900"
                >
                  Ir a la página
                </a>
              </div>
            );
          })
        }
      </div>
    </article>
    <article
      class="w-1/2 flex flex-col border border-white/20 rounded-2xl p-4 transition-colors hover:bg-white/5 duration-300"
    >
      <h3 class="font-marck text-4xl text-center">Efectos</h3>
      <div
        class="scroll relative w-full flex flex-grow items-center gap-x-6 snap-x overflow-x-auto py-8"
      >
        {
          effects.map((item) => {
            return (
              <div class="shrink-0 snap-center [&:hover>h4]:text-indigo-500 transition-transform hover:scale-105 flex flex-col p-3 w-80 h-full border border-white/20 rounded-md">
                <h4 class="font-marck text-center text-2xl transition-colors duration-300">{item.name}</h4>
                <p class="text-neutral-300 flex-grow my-12">
                  {item.description}
                </p>
                <a
                  href={item.link}
                  target="_blank"
                  class="rounded-md border border-white/20 px-10 py-3 font-medium text-xl mx-auto transition-colors duration-300 hover:bg-neutral-50 hover:text-neutral-900"
                >
                  Ir a la página
                </a>
              </div>
            );
          })
        }
      </div>
    </article>
  </div>
</section>
