---
import Logo from "./Logo.astro";
import TextDivider from "./TextDivider.astro";
type ResourceItem = {
  id: string;
  name: string;
};

const resItems: ResourceItem[] = [
  {
    id: "libraries",
    name: "Librerías",
  },
  {
    id: "icons",
    name: "Iconos",
  },
  {
    id: "tools",
    name: "Herramientas",
  },
  {
    id: "colors",
    name: "Colores",
  },
  {
    id: "gradients",
    name: "Gradientes",
  },
  {
    id: "typography",
    name: "Tipografias",
  },
  {
    id: "illustrations",
    name: "Ilustraciones",
  },
  {
    id: "images",
    name: "Imagenes",
  },
  {
    id: "draw",
    name: "Diagramar",
  },
];


---

<header id="navbar" class="w-screen h-screen flex">
  <div
    class="relative w-1/4 px-10 flex flex-col gap-y-10 justify-center items-center"
  >
    <Logo />
    <p class="text-xl text-center mb-5 text-neutral-50">
      Frontdev es una página donde podras encontrar una colección de recursos
      que te pueden llegar a ser de utilidad en tu día a día haciendo desarrollo
      Frontend.
    </p>
    <TextDivider />
    <p class="text-xl text-center text-neutral-50">
      Diseñada por <a
        href="https://alejandrodalzotto-portfolio.vercel.app/"
        class="font-marck text-2xl transition-colors hover:text-rose-600"
        >Alejandro Dalzotto</a
      >
    </p>
    <TextDivider />
    <a
      class="w-10 h-10 flex items-center justify-center"
      href="https://github.com/AlejandroDalzotto/frontdev-resources"
    >
      <svg class="h-10 w-10 fill-neutral-50">
        <use xlink:href="sprites.svg#github"></use>
      </svg>
    </a>
  </div>
  <nav class="relative w-3/4">
    <ul
      class="grid grid-cols-3 p-40 place-content-center gap-10 w-full h-full relative"
    >
      {
        resItems.map(({ id, name }) => {
          return (
            <li class="cursor-pointer relative w-auto h-auto flex flex-col items-center justify-center py-4 px-6 transition-opacity opacity-70 hover:opacity-100">
              <svg class="w-full fill-neutral-50">
                <use xlink:href={`sprites.svg#${id}`} />
              </svg>
              <p class="font-marck text-4xl text-neutral-50 mt-5">{name}</p>
            </li>
          );
        })
      }
    </ul>
  </nav>

  <div
    id="menu-backdrop"
    class="opacity-0 rounded-lg -z-10 absolute bg-black/25 left-[var(--left)] top-[var(--top)] w-[var(--width)] h-[var(--height)] transition-all duration-300 ease-in-out"
  >
  </div>
</header>

<script>
  const $listItem = document.querySelectorAll("#navbar li");
  const $menuBackDrop = document.querySelector(
    "#menu-backdrop"
  ) as HTMLDivElement;

  $listItem.forEach((item) => {
    item.addEventListener("mouseenter", () => {
      const { left, top, width, height } = item.getBoundingClientRect();
      $menuBackDrop.style.setProperty("--left", `${left}px`);
      $menuBackDrop.style.setProperty("--top", `${top}px`);
      $menuBackDrop.style.setProperty("--width", `${width}px`);
      $menuBackDrop.style.setProperty("--height", `${height}px`);
      $menuBackDrop.style.opacity = "1";
      $menuBackDrop.style.visibility = "visible";
    });

    item.addEventListener("mouseleave", () => {
      $menuBackDrop.style.opacity = "0";
      $menuBackDrop.style.visibility = "hidden";
    });
  });
</script>
